body{
	/*background-color: #03030D;*/
	background-image: url("../images/hands_large.jpg");
  	max-width: 100%;
	background-size: cover;
	font-family: 'Ek Mukta', sans-serif;
	color: #FBFBFF;
}
h3 {
	margin-top: 0px;
}

#artist-input-error {
	color: #FF0000;
	display: none;
	font-size: 12px;
	margin-top: 5px;
}
#search {
	border-radius: 0;
	background: none;
	color: #FBFBFF;
}
#clear {
	border-radius: 0;
	background: none;
	color: #FBFBFF;
}

#map {
	border: 2px solid #03030D;
	border-radius: 0px;
	display: none;
	height: 400px;
	margin-top: 20px;
	width: 100%;
	opacity: .7;
}

:required {
}



#info{
/*	border: 2px solid lavender;*/
  width: 100%;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(3, 3, 13, 0.5);

}

#results a{
    color: orange !important;
}


#map {
	border: 2px solid lavender;
	border-radius: 4px;
	display: none;
	height: 400px;
	margin-top: 20px;
	width: 100%;
}

#artist-image {
	height: 150px;
	width: 150px;
}

#lowest-fair {
	display: none;
}


#spacer{

	height: 200px;
}
#spacer-contact,
#spacer-about{
  height: 100px;
}
#info{
/*	border: 2px solid lavender;*/
  width: 100%;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;

}
#artist-info{
	height: 200px;
    overflow-y: auto;
    background-color: rgba(3, 3, 13, 0.5);

}

#contact,
#about{
	border-radius: 4px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 20px;
	background-color: rgba(3, 3, 13, 0.5);

}

#about, 
#contact-info,
#jennie,
#casey,
#ken,
#brian{
  width: 100%;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(3, 3, 13, 0.5);
  overflow: auto;
}

#jennie-pic,
#casey-pic,
#ken-pic,
#brian-pic{
  max-width: 120px;
  float: right;
  margin-bottom: 20px;

}
.search-form {
	/*border: 2px solid lavender;*/
	border-radius: 0px;
	margin-top: 50px;
	padding: 10px;
	color: #FBFBFF;
}
.search-results {
/*	border: 2px solid lavender;*/
	border-radius: 4px;
	display: none;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 20px;
	  background-color: rgba(3, 3, 13, 0.5);
}
.search-results-bio {
	margin-bottom: 20px;
	margin-top: 20px;
}

.search-results-table {
	width: 100%;
}
.form-control{
	border-radius: 0px;
}



/*Navbar styling*/
.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  color: #03030D
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #03030D
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #03030D
  text-transform: uppercase;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #03030D
 
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
	color: #03030D
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #F05F40 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
  }
  .navbar-default .navbar-header .navbar-brand {
    color: #03030D;
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: #03030D;
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #F05F40;
    font-size: 14px;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #eb3812;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #F05F40;
  }
}














/*
	overflow: auto;
}*/